@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  overflow-y: overlay;
  scrollbar-color: dark;
}

*,
*::before,
*::after {
  box-sizing: border-box !important;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

p,
h2 {
  overflow-wrap: break-word;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
